{% extends './base.html' %}

{% block cssFile %}
    <link rel="stylesheet" href="../static/home.css">
{% endblock cssFile %}

{% block additional_head_tag_content %}
    
{% endblock additional_head_tag_content %}

{% block content_main %}
    {% for post in posts %}
        <div class="card mb-2" style="width: 36rem;">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <h6 class="card-subtitle mb-2 border-2 border-bottom text-body-secondary">{{ post.date_posted }}</h6>
                <p class="card-text">{{ post.content }}</p>
                <div class="text-primary">
                    Posted By <a href="#" class="card-link ms-2">{{ post.author }}</a>
                </div>
            </div>
        </div>    
    {% endfor %}
{% endblock content_main %}

{% block content_footer %}
    
{% endblock content_footer %}