{% extends './base.html' %}

{% block cssFile %}
    <link rel="stylesheet" href="url_for('static', filename='post.css')">
{% endblock cssFile %}

{% block additional_head_tag_content %}
    
{% endblock additional_head_tag_content %}

{% block content_main %}
<form class="" action="" method="POST" target="_self" autocomplete="off">
    {{ form.hidden_tag() }} 
    <fieldset>
      <div class="container-sm text-white mt-3">
        <legend>New Post</legend>
      </div>
      <div class="container-sm mb-3">
        <div class="col-8">
          <!-- the syntax to pass multiple attributes in the forms created using the wtforms package -->
  
          {{ form.post_title.label(class="form-label text-light", id="someId") }} 
  
          {% if form.post_title.errors %}
            {{form.post_title(class="form-control bg-dark text-light border-light form-control-lg is-invalid")}}          
          {% else %}
            {{ form.post_title(class="form-control bg-dark text-light border-light form-control-lg", **{'aria-describedby': "emailHelp"}) }}          
          {% endif %}
          
          {% for error in form.post_title.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}
          <!-- syntax to pass attributes with hyphens in flask wt_Forms package since jinja doesn't allows to have hyphens in it -->
          <!-- <input
          type=.post_title"
          class="form-control"
          id=.post_title"
          name=.post_title"
          aria-describedby="emailHelp"
        /> -->
        </div>
      </div>
      <div class="container-sm mb-3">
        <div class="col-8">
          {{ form.post_content.label(class="form-label text-light") }}
  
          {% if form.post_content.errors %}
            {{form.post_content(class="form-control bg-dark text-light border-light form-control-lg is-invalid")}}          
          {% else %}
            {{ form.post_content(class="form-control bg-dark text-light border-light form-control-lg", **{'aria-describedby': "emailHelp"}) }}          
          {% endif %}
          
          {% for error in form.post_content.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}
        </div>
      </div>
    </fieldset>
    <div class="container-sm">
      {{ form.submitButton(class="btn btn-outline-info") }}
      <!-- button outline info likhne se the button has only color in the border only -->
    </div>
</form>
  
{% endblock content_main %}

{% block content_footer %}
    
{% endblock content_footer %}