{% macro render_blog(title, date_posted, content, author) %}
    <div class="card mt-3 mb-2" style="width: 54rem;">
        <div class="card-body">
            <div class="d-grid w-75">
                <div class="row mb-3">
                    <img src="{{ url_for('static', filename='profile_pictures/' + author.image_file_name) }}" alt="" class="rounded-circle col-1" style="height: 5rem; width: 5rem;">
                    <h5 class="card-title col-9"><a href="{{ url_for('') }}">>{{ title }}</a></h5>    
                </div>    
            </div>
            <h6 class="card-subtitle mb-2 border-2 border-bottom text-body-secondary">{{ date_posted }}</h6>
            <p class="card-text">{{ content }}</p>
            <div class="text-primary">
                Posted By <a href="#" class="card-link ms-2">{{ author.username }}</a>
            </div>
        </div>
    </div>        
{% endmacro %}
