<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regular login form</title>
</head>
<body>
    <div>
        <div class="leftColumnLogin">
            <h1>Flask Blog</h1>
            <div></div>
            <div></div>
            <button></button>
            <a href="">create account</a>    
        </div>
        <div class="rightColumnLogin">
            <div><a href="">Register as a Writer</a></div>
        </div>
    </div>
</body>
</html>